section.edit.edit_wish 
	.container
		form.edit__form
			fieldset.edit__wish 
				label.edit__label
					span.edit__label-text Описание:
					input(type="text", name="title").input.edit__input
				label.edit__label
					span.edit__label-text Категория:
					input(type="text", name="category").input.edit__input
				.edit__wish-price.edit__label
					label.edit__label_price
						span.edit__label-text Цена:
						input(type="text", name="price").input.edit__input
					label.edit__label_select.edit__label_price
						select(name="currency").edit__select.edit__select_currency
							option(value="rub") руб
				label.edit__label
					span.edit__label-text Ссылка:
					input(type="text", name="link").input.edit__input
			fieldset.edit__wish-photo 
				label.edit__label-photo
					+img('no-photo.png', 'edit__wish-image')
					input(type="file", accept="image/jpeg, image/png").edit__input-file.edit__input-file_wish
				button.edit__wish-delete
					svg(
						xmlns="http://www.w3.org/2000/svg" 
						fill="none" 
						viewBox="0 0 50 50" 
						height="50" 
						width="50"
						)
						path(
							fill="#365ABA" 
							d="M20.8961 18.6873C20.5999 18.4113 20.2081 18.261 19.8033 18.2681C19.3985 18.2753 19.0123 18.4393 18.726 18.7255C18.4398 19.0118 18.2758 19.398 18.2686 19.8028C18.2615 20.2076 18.4117 20.5994 18.6877 20.8956L22.7919 24.9998L18.6877 29.1039C18.5342 29.247 18.4111 29.4195 18.3257 29.6111C18.2403 29.8028 18.1944 30.0097 18.1907 30.2195C18.187 30.4293 18.2256 30.6377 18.3042 30.8322C18.3827 31.0268 18.4997 31.2035 18.6481 31.3519C18.7964 31.5003 18.9732 31.6173 19.1677 31.6958C19.3623 31.7744 19.5707 31.813 19.7805 31.8093C19.9903 31.8056 20.1972 31.7597 20.3889 31.6743C20.5805 31.5889 20.753 31.4658 20.8961 31.3123L25.0002 27.2081L29.1044 31.3123C29.4006 31.5883 29.7924 31.7385 30.1972 31.7314C30.602 31.7242 30.9882 31.5602 31.2745 31.274C31.5607 30.9877 31.7247 30.6015 31.7319 30.1967C31.739 29.7919 31.5887 29.4001 31.3127 29.1039L27.2086 24.9998L31.3127 20.8956C31.4663 20.7525 31.5894 20.58 31.6748 20.3884C31.7602 20.1967 31.8061 19.9898 31.8098 19.78C31.8135 19.5702 31.7749 19.3618 31.6963 19.1673C31.6177 18.9727 31.5008 18.796 31.3524 18.6476C31.204 18.4992 31.0273 18.3822 30.8327 18.3037C30.6382 18.2251 30.4298 18.1865 30.22 18.1902C30.0102 18.1939 29.8033 18.2398 29.6116 18.3252C29.42 18.4106 29.2475 18.5337 29.1044 18.6873L25.0002 22.7914L20.8961 18.6873Z"
							)
						path(
							fill="#365ABA" 
							d="M25.1191 2.604H24.8816C20.0712 2.604 16.3024 2.604 13.3607 2.99984C10.3524 3.404 7.97741 4.24984 6.11283 6.11234C4.24824 7.97692 3.40449 10.3519 3.00033 13.3623C2.60449 16.3019 2.60449 20.0707 2.60449 24.8811V25.1186C2.60449 29.929 2.60449 33.6978 3.00033 36.6394C3.40449 39.6478 4.25033 42.0228 6.11283 43.8873C7.97741 45.7519 10.3524 46.5957 13.3628 46.9998C16.3024 47.3957 20.0712 47.3957 24.8816 47.3957H25.1191C29.9295 47.3957 33.6982 47.3957 36.6399 46.9998C39.6482 46.5957 42.0232 45.7498 43.8878 43.8873C45.7524 42.0228 46.5962 39.6478 47.0003 36.6373C47.3962 33.6978 47.3962 29.929 47.3962 25.1186V24.8811C47.3962 20.0707 47.3962 16.3019 47.0003 13.3603C46.5962 10.3519 45.7503 7.97692 43.8878 6.11234C42.0232 4.24775 39.6482 3.404 36.6378 2.99984C33.6982 2.604 29.9295 2.604 25.1191 2.604ZM8.32324 8.32275C9.51074 7.13525 11.1149 6.454 13.7795 6.09567C16.4878 5.73317 20.0462 5.729 25.0003 5.729C29.9545 5.729 33.5128 5.73317 36.2212 6.09567C38.8857 6.454 40.492 7.13734 41.6795 8.32275C42.8649 9.51025 43.5462 11.1144 43.9045 13.779C44.267 16.4873 44.2712 20.0457 44.2712 24.9998C44.2712 29.954 44.267 33.5123 43.9045 36.2207C43.5462 38.8853 42.8628 40.4915 41.6774 41.679C40.4899 42.8644 38.8857 43.5457 36.2212 43.904C33.5128 44.2665 29.9545 44.2707 25.0003 44.2707C20.0462 44.2707 16.4878 44.2665 13.7795 43.904C11.1149 43.5457 9.50866 42.8623 8.32116 41.6769C7.13574 40.4894 6.45449 38.8853 6.09616 36.2207C5.73366 33.5123 5.72949 29.954 5.72949 24.9998C5.72949 20.0457 5.73366 16.4873 6.09616 13.779C6.45449 11.1144 7.13783 9.51025 8.32324 8.32275Z" 
							clip-rule="evenodd" 
							fill-rule="evenodd"
							)
			button.edit__submit-btn.btn Сохранить изменения
			button.edit__delete-btn.btn Удалить желание