mixin menu(className, items, activeItem)
	nav(class=className)
		ul(class=className + "__list")
				each menuItem, ndx in items
					li(class=className +"__item " + ((ndx == activeItem) ? className +"__item_active" : '' ))
						a(href= `${menuItem.url}`, class=className +"__link")
							|#{menuItem.title}
		.header-contacts.header-contacts--nav
			a(href="tel:4055550128").header-contacts__link.contacts-link.contacts-link--call
				span.contacts-link__caption Call Us
				span.contacts-link__value (405) 555-0128
			a(href="mailto:hello@createx.com").header-contacts__link.contacts-link.contacts-link--mail
				span.contacts-link__caption Talk to us
				span.contacts-link__value hello@createx.com
mixin menu-icon(className, items, activeItem, icon)
	nav(class=className)
		ul(class=className + "__list")
				each menuItem, ndx in items
					li(class=className +"__item " + ((ndx == activeItem) ? className +"__item_active" : '' ))
						a(href= `${menuItem.url}`, class=className +"__link")
							+icon(`${menuItem.icon}`)
							|#{menuItem.title}

//- icon SVG mixin
mixin icon(name, mod)
		- mod = mod || ''
		svg(class="icon icon-" + name + ' ' + mod)
				use(xlink:href="assets/img/sprite.svg#" + name)

mixin footerNavLink(title)
		li.footer-nav__item
				a(href="#").footer-nav__link= title



mixin tabsLink(dataShow, text)
		li.tabs-list__item(show-tab= dataShow)&attributes(attributes)
				span.tabs-list__text= text

mixin icon(name, mod)
		- mod = mod || ''
		svg(class="icon icon-" + name + ' ' + mod)
				use(xlink:href="assets/img/sprite.svg#" + name)

mixin img(image, className, imgAlt, aria)
	img(src= "assets/img/" + image, class= className, alt= imgAlt, aria-hidden= aria)






